.tile {
    /* 20x20 */
    height:16px;
    width: 16px;
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-bottom-color: rgb(160, 160, 160);
    border-right-color: rgb(160, 160, 160);
    border-top-color: rgb(240, 240, 240);
    border-left-color: rgb(240, 240, 240);
    border-width: 2px;
    text-align: center;
}
.row {
    display: flex;
}
.grid {
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    width: fit-content;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}
body {
    padding-top: 75px;
    margin: auto;
    width: 50%;
}
input {
    width: 40px;
}
p {
    margin: auto;
}
.revealed {
    border-color: rgb(200, 200, 200);
}
